/*****************************/
/* ERS Global Styles         */
/*****************************/


@media screen and (min-width: 641px) {

  .grid-layout__column--1-3 {
    float: left;
    width: 33.33333%;
  }

  .grid-layout__column--2-3 {
    float: left;
    width: 66.66667%;
  }

}

.hidden {display:none;}

.clear {clear:both;}

#content article {width:100%;}


.ers-service-info {
    border-top: 10px solid #005ea5;
}

.reference {margin: 20px 0 0;}

.reference .font-xsmall {
    font-size: 19px;
}

div.grid-layout {
    margin: 0;
}


.validation-message {font-weight:bold; border-left: 4px solid #df3034; padding-left:14px; font-size:19px; margin-top:1em; margin-left: -1em;}
.validation-summary-message {font-weight:bold; font-size:19px; margin-top:1em;}
.validation-summary-message a, .validation-message a, p.field-error {color: #b10e1e; font-weight: 700;}
.validation-summary-message p {font-size:19px;}
.validation-summary-message ul, .validation-summary-message ol {list-style-type: none;}
.heading-medium {margin-top:0;}

article .help-notice {
   background: url('../images/icon-important.png') no-repeat scroll 0px 0.5em transparent;
}

.notice {
    position: relative;
}

.notice .icon {
    left: 0;
    margin-top: -17px;
    position: absolute;
    top: 50%;
}

.icon-information {
    background-image: url("../images/icon-information.png");
    height: 27px;
    width: 27px;
}

.icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
}

.notice strong {
    display: block;
    margin-left: -15px;
    padding-left: 65px;
}


.button {
    background-color: #00823B;
    position: relative;
    display: inline-block;
    border: medium none;
    border-radius: 0px;
    box-shadow: 0px 2px 0px #003518;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    margin: 0px 15px 15px 0px;
    padding: 0.52632em 0.78947em 0.26316em;
    vertical-align: top;
}

.button-get-started {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    line-height: 1.25;
    text-transform: none;
    font-weight: 700;
    background-image: url('../images/icon-pointer.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 0.36842em 2.15789em 0.21053em 0.84211em;
}

.button:link, .button:hover, .button:focus, .button:visited {
    color: #FFF;
}

.button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: none repeat scroll 0% 0% transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

.summary-button {margin-top:0.5em;}

.help-notice p.nodeco {font-weight:400; font-size:19px;}

.related {border-top:10px solid #005ea5; margin:3em 0 0; right:1.75em; }

#error-summary {margin-bottom:1em;}


.error-summary .error-summary-heading {
    margin-top: 0;
}

.visibility {display:none;}

.validation-summary, .error-summary {
    border: 5px solid #b10e1e;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px 15px 15px;
}

.error  {margin:0 0 30px 0; border-left: 5px solid #b10e1e; padding-top:0; padding-bottom:0;}

.error .error-message {
    color: #b10e1e;
    font-weight: bold;
}
.error-message {
    font-size: 19px;
    line-height: 1.31579;
}

.error-message {
    clear: both;
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    margin: 0;
    padding: 5px 0 0;
    text-transform: none;
}

#uploadForm.error {overflow:auto;}

.form-field {margin-bottom:0;}

.form-label-bold {
    font-size: 19px;
    line-height: 1.31579;
    margin-bottom: 0.75em;
}

.block-label:last-child {margin-bottom: 0;}

.font-small {
    font-size: 19px;
    line-height: 1.31579;
}

.inline .form-field label {margin-bottom:0;}

.panel-indent {margin-bottom: 20px; border-left: 10px solid #bfc1c3;}

.list-bullet {margin-bottom: 20px;}


.link-back::before {
    border-bottom: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-top: 5px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 0;
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
}

.link-back {
    border-bottom: 1px solid #0b0c0c;
	display: inline-block;
	font-family: "nta",Arial,sans-serif;
	font-weight: 400;
	margin-top: 15px;
	padding-left: 14px;
	position: relative;
	text-decoration: none;
	text-transform: none;
}

/*****************************/
/* Check file styles         */
/*****************************/

#choose-file-button, #file-name {float:left; display:none;}

.button.choose-file-button {background-color:#DEE0E2; box-shadow: 0 2px 0 #6F777B; color:black;}
.button.choose-file-button:hover, .button.choose-file-button:focus {background-color:#B2B4B7;}
.button.choose-file-button:focus {outline:3px solid #FFBF47;}

#file-name, #remove-file-link {padding:9px 6px 6px 6px; display:none;}

#file-name, #input-file-name {white-space:pre;}

#remove-file-link, #file-header-bar {display: none;}

#remove-file-link, #remove-csv-file-link {float:right;}

#file-wrapper {clear:both;}

#input-file-name, .input-csv-file-name {border:1px solid #BFC1C3; padding:0; background:none; float:left;}

.input-csv-file-name-heading {float:left; clear:both; margin-bottom:2px; margin-top:0px;}
 #fileToUpload, .input-csv-file-name { float:left; min-width:450px; max-width:450px; clear:both;}
 #file-uploader button {float:left; margin-left:10px;}

.fileAlert {border-left: 4px solid #df3034; padding-left:14px; margin-left: -1em;}

#check-file-button, .spinner {margin: 1em 0 1em 0;}

#file-wrapper {margin-top: 1em;}

#file-container {width:auto;}
#choose-file-button-container {width:auto; float:left;}
#file-name {float:left; width:60%; overflow:hidden;}
#remove-file-link-container {width:auto; float:none; overflow:hidden;}

#remove-csv-file-link {padding:29px 0 0 6px;}
#remove-csv-files-link-container {width:auto; float:none; max-width:64%;}

#file-header-bar {background-color:#DEE0E2; margin-bottom:1em; padding:4px 0 2px 186px;}

#page-header {padding-top:2em;}

#progressbar{
font-family: "nta",Arial,sans-serif;
font-size: 27px;
line-height: 1;
font-weight: 400;
text-transform: none;
display: block;
margin-bottom: 0.25em;
text-shadow: none;
color: #6F777B;}

#check-file-button, .spinner {clear:both; float:left; margin-bottom:1.5em;}

#back {clear:both; float:left;}

.success-banner {
  background-color: #28a197;
  color:#FFFFFF;
  font-size: 24px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin-bottom:1em;
  margin-top:40px;
  padding-left:5px;
  padding-right:5px;
}

.bottom-grey {clear: both;
border-bottom: 1px solid #BFC1C3;
padding-bottom:20px;}

.form-field.error {background-color:#fff; border-left: 4px solid #df3034;}

.error .form-control {border: 4px solid #b10e1e;}

#postcode {width:120px}

/*****************************/
/* HTML Error Report Styles  */
/*****************************/

article #html-error-report table td, article #html-error-report table th {background:none; padding:10px 20px 10px 0} 
article #html-error-report table td, article #html-error-report table th {border:none;} 
article #html-error-report table td, article #html-error-report table th {border-bottom: 1px solid #BFC1C3;} 
#html-error-report .column, #html-error-report .row {width:10%} 
#html-error-report .report-title {text-align:right; margin-top:0; margin-bottom:0;}
#html-error-report #errors-by-sheet {margin-top:2em; margin-bottom:0;}
#html-error-report .sheet-title {margin-top:1em; margin-bottom:0.25em;}
#html-error-report #summary {margin-top:0;}

/*****************************/
/*    GROUP PLAN STYLES      */
/*****************************/

.address-line {margin-bottom: 0.2em;}
#country {margin: 0;}

/*****************************/
/*    GROUP PLAN SUMMARY     */
/*****************************/

#group-plan-summary-table {table-layout:fixed; width:100%;}

.group-plan-summary-col-20 {width:20%;}
.group-plan-summary-col-15 {width:15%;}
.group-plan-summary-text-align {vertical-align:top; overflow:hidden; padding-left:5px;}
.group-plan-name-summary-text-align {vertical-align:top; overflow:hidden;}
.group-plan-summary-margin {margin-top:1em;}
.group-plan-summary-action-text-align {vertical-align:top; overflow:hidden; padding-left:5px; padding-right:0; text-align:right; font-weight:400;}

#group-plan-summary-name {width:40%;}
#group-plan-summary-address {width:220px; padding-left:5px;}
#group-plan-summary-crn {width:100px; padding-left:5px;}
#group-plan-summary-ctr {width:100px; padding-left:5px;}
#group-plan-summary-col-action {width:45px; padding-left:5px;}

.group-plan-summary-col-15 {width:15%;}

/*****************************/
/*    TRUSTEE SUMMARY     */
/*****************************/

#trustee-summary-table {table-layout:fixed; width:100%;}
.trustee-summary-text-align {vertical-align:top; overflow:hidden; padding-left:0;}
.trustee-summary-name-text-align {vertical-align:top; overflow:hidden;}
.trustee-summary-margin {margin-top:1em;}
#trustee-summary-name {width:600px;}
#trustee-summary-address {width:220px; padding-left:5px;}
#trustee-summary-col-action {width:45px; padding-left:5px;}
.trustee-summary-action-text-align {vertical-align:top; overflow:hidden; padding-left:5px; text-align:right; padding-right:0; font-weight:400;}


/*****************************/
/*    SUMMARY DECLARATION    */
/*****************************/

#summary-declaration-col-section {width:50%;}
#summary-declaration-col-answer {padding-left: 5px;}
#summary-declaration-col-action {width:45px; padding-left:5px;}
.summary-declaration-col-15 {width:15%; text-align:right;}
.summary-declaration-text-align {vertical-align:top; padding-left:5px;}
.summary-declaration-section-text-align {vertical-align:top;}


table th, table td {
    font-size: 19px;
    line-height: 1.31579;
}

/*****************************/
/* spinner                   */
/*****************************/

#continue {float:left;}

#progress-spinner {
  display:none; 
  margin: 0 0 0 1em;
  float:left;
  vertical-align:middle;
  line-height:64px;
}

#errors:focus, #fileToUpload:focus {outline: 3px solid #ffbf47;}
