@(altActivity: String, groupSchemeActivity: String, altActivityForm: Form[models.AltAmendsActivity])(implicit request: Request[AnyRef], flash: Flash, context: config.ErsContext)
@schemeId = @{request.session.get("screenSchemeInfo").get.split(" - ").head}
@import views.html.templates._
@import utils.PageBuilder._
@import views.html.helpers.error_overview

@ers_main(title = getPageElement(schemeId, "ers", "is_alterations.page_title")) {

    @reference()
    <p class="font-xsmall"><a href="@getPageBackLink(schemeId, PAGE_ALT_ACTIVITY, groupSchemeActivity)" class="link-back">@Html(messages("ers.back"))</a></p>
    @uk.gov.hmrc.play.views.html.helpers.form(action = routes.AltAmendsController.altActivitySelected()) {
        @header(getPageElement(schemeId, PAGE_ALT_ACTIVITY, "question"))
        @error_overview(altActivityForm, Some(getPageElement(schemeId, PAGE_ALT_ACTIVITY, "err.message")))
        <p class="form-hint">@Html(getPageElement(schemeId, PAGE_ALT_ACTIVITY, "intro_para"))</p>
        <div class="form-group @if(altActivityForm.hasErrors) {error}">
            <fieldset class="inline">
                <legend id="altActivityLbl">
                    <span class="visuallyhidden">@Html(getPageElement(schemeId, PAGE_ALT_ACTIVITY, "question"))</span>
                    @if(altActivityForm.hasErrors){<span class="error-message">@Html(getPageElement(schemeId, PAGE_ALT_ACTIVITY, "err.message"))</span>}
                </legend>
                <div class="form-field">
                    <label for="yes" class="block-label @(if(altActivity == OPTION_YES) "selected")">
                        <input id="yes" type="radio" name="altActivity" value=@OPTION_YES @(if(altActivity == OPTION_YES) "checked" else "")>
                        @Html(messages("ers.yes"))<br>
                    </label>
                    <label for="no" class="block-label @(if(altActivity == OPTION_NO) "selected")">
                        <input id="no" type="radio" name="altActivity" value=@OPTION_NO @(if(altActivity == OPTION_NO) "checked" else "")>
                        @Html(messages("ers.no"))<br>
                    </label>
                </div>
            </fieldset>
        </div>
        <input role="button" id="continue" class="button" type="submit" value="@Html(messages("ers.continue"))">
    }
}
