@(csvFilesList: CsvFilesList)(implicit request: Request[AnyRef], flash: Flash, context: config.ErsContext, implicitMessages: Messages)
@import views.html.templates._
@import utils.PageBuilder._
@schemeId = @{request.session.get("screenSchemeInfo").get.split(" - ").head}

@ers_main(title = message("ers.choose_csv_files.page_title")) {
    @reference()
    <p class="font-xsmall"><a href="@routes.CheckFileTypeController.checkFileTypePage" class="link-back">@Html(message("ers.back"))</a></p>
    @header(message("ers_check_csv_file.title"))

    @if(flash.get("csv-file-not-selected-error").isDefined) {
    <div id="errors" class="validation-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            @Html(message("validation.summary.heading"))
        </h1>
        <ul class="validation-summary-message">
            <li class="validation-summary-message"><a href="#error-summary" data-focuses="error-summary">@flash.get("csv-file-not-selected-error")</a></li>
        </ul>
    </div>
    }

    @uk.gov.hmrc.play.views.html.helpers.form(action = routes.CheckCsvFilesController.checkCsvFilesPageSelected()) {
        <div class="form-group @if(flash.get("csv-file-not-selected-error").isDefined) {error}">
            <fieldset>
                <legend class="visuallyhidden">@Html(message("ers_check_csv_file.title"))</legend>
                @if(flash.get("csv-file-not-selected-error").isDefined) {
                <div aria-labelledby="error-heading" class="error-message" id="error-summary" role="alert" tabindex="-1">
                    <span id="error-heading">@flash.get("csv-file-not-selected-error")</span>
                </div>
                }
                <div class="form-field">
                    @for((file, index) <- csvFilesList.files.zipWithIndex) {
                        <input type="hidden" name="files[@index].fileId" value="@file.fileId" />
                        <label for="@file.fileId" class="block-label @(if(file.isSelected.getOrElse("") == OPTION_YES) "selected")">
                            <input id="@file.fileId" type="checkbox" name="files[@index].isSelected" value=@OPTION_YES @(if(file.isSelected.getOrElse("") == OPTION_YES) "checked") />
                            @Html(getPageElement(schemeId, PAGE_CHECK_CSV_FILE, file.fileId + ".description"))<br>
                        </label>
                    }
                </div>
            </fieldset>
        </div>
        <input role="button" id="continue" class="button" type="submit" value="@Html(message("ers_check_csv_file.continue"))">
    }
}