@(checkFileType: Option[String], checkFileTypeForm: Form[models.CheckFileType])(implicit request: Request[AnyRef], flash: Flash, context: config.ErsContext, implicitMessages: Messages)
@* type of activity template *@
@schemeId = @{request.session.get("screenSchemeInfo").get.split(" - ").head}
@import views.html.templates._
@import utils.PageBuilder._
@import views.html.helpers.error_overview

@ers_main(title = message("ers.choose_file_type.page_title")) {

	@reference()
	<p class="font-xsmall"><a href="@routes.ReportableEventsController.reportableEventsPage()" class="link-back">@Html(message("ers.back"))</a></p>
	@uk.gov.hmrc.play.views.html.helpers.form(action = routes.CheckFileTypeController.checkFileTypeSelected()) {
		@header(message("ers_check_file_type.title"))
		@error_overview(checkFileTypeForm)
		<div class="form-group @if(checkFileTypeForm.hasErrors) {error}">
			<fieldset>
				<legend id="checkFileTypeLbl">
					@if(checkFileTypeForm.hasErrors){<span class="error-message">@Html(message("ers_check_file_type.err.message"))</span>}
				</legend>
				<div class="form-field">
					<label for="csv" class="block-label @(if(checkFileType == OPTION_CSV) "selected")">
						<input id="csv" type="radio" name="checkFileType" value=@OPTION_CSV @(if(checkFileType.get == OPTION_CSV) "checked" else "")>
						@Html(message("ers_check_file_type.option_1"))<br>
					</label>
					<label for="ods" class="block-label @(if(checkFileType == OPTION_ODS) "selected")">
						<input id="ods" type="radio" name="checkFileType" value=@OPTION_ODS @(if(checkFileType.get == OPTION_ODS) "checked" else "")>
						@Html(message("ers_check_file_type.option_2"))<br>
					</label>
				</div>
			</fieldset>
		</div>
		<input role="button" id="continue" class="button" type="submit" value="@Html(message("ers.continue"))">
	}

}