@(uploadForm: Html, csvFilesCallback: List[CsvFilesCallback])(implicit request: Request[AnyRef], context: config.ErsContext)
@schemeId = @{request.session.get("screenSchemeInfo").get.split(" - ").head}
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import utils.PageBuilder._
@import views.html.templates._

@scripts = {
<script src='@routes.AssetsController.at("javascripts/ers_csv_scripts.js")'> </script>
}

@pageTitle = {
    @if(csvFilesCallback.count(_.callbackData.isDefined) == 0) {
        @if(csvFilesCallback.map(_.fileId).size == 1) {
            @Messages("ers.upload_csv_file.page_title")
        } else {
            @Messages("ers.upload_first_csv_file.page_title")
        }
    } else {
        @Messages("ers.upload_next_csv_file.page_title")
    }
}

@ers_main(title = pageTitle.toString, scripts) {

    @reference()
    <p class="font-xsmall"><a href="@routes.CheckCsvFilesController.checkCsvFilesPage" class="link-back">@Html(Messages("ers.back"))</a></p>
    @if(csvFilesCallback.count(_.callbackData.isDefined) == 0) {
        @if(csvFilesCallback.map(_.fileId).size == 1) {
            @header(Messages("csv_file_upload.file_title"))
        } else {
            @header(Messages("csv_file_upload.first_file_title"))
        }
    } else {
        @header(Messages("csv_file_upload.next_file_title"))
    }
    <div id="errors" class="validation-summary visibility" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            @Html(Messages("validation.summary.heading"))
        </h1>
        <ul class="error-summary-list">
            <li class="validation-summary-message"><a href="#file-uploader" data-focuses="file-uploader">@Html(Messages("csv_file_upload.summary_error"))</a></li>
        </ul>
    </div>
    <h2 id="files-list" class="heading-small">
        @if(csvFilesCallback.map(_.fileId).size == 1) {
            @Html(Messages("csv_file_upload.file_to_upload_title"))
        } else {
            @Html(Messages("csv_file_upload.files_to_upload_title"))
        }
    </h2>
    <p>
    @for(file <- csvFilesCallback if (file.callbackData.isDefined)) {
        <span class="uploaded files" data-file-name="@Messages(getPageElement(schemeId,PAGE_CHECK_CSV_FILE,file.fileId+".file_name"))">@Messages(getPageElement(schemeId,PAGE_CHECK_CSV_FILE,file.fileId+".description"))</span> @Messages("ers.uploaded")<br>
    }
    @for(file <- csvFilesCallback if (file.callbackData.isEmpty)) {
        <span id="@file.fileId" class="notUploaded files" data-file-name="@Messages(getPageElement(schemeId,PAGE_CHECK_CSV_FILE,file.fileId+".file_name"))">@Messages(getPageElement(schemeId,PAGE_CHECK_CSV_FILE,file.fileId+".description"))</span><br>
    }
    </p>
    <label for="fileToUpload" class="visuallyhidden">
        <p>@if(csvFilesCallback.count(_.callbackData.isDefined) == 0) {
                @if(csvFilesCallback.map(_.fileId).size == 1) {
                    @Html(getPageElement(schemeId, PAGE_FILE_UPLOAD, "info", ""))
                } else {
                    @Html(getPageElement(schemeId, PAGE_FILE_UPLOAD, "info", "first"))
                }
            } else {
                @Html(getPageElement(schemeId, PAGE_FILE_UPLOAD, "info", "next"))
            }
        </p>
    </label>
    <div id="uploadForm">
        @uploadForm
    </div>
    @spinner()

}