@(uploadForm: Html)(implicit request: Request[AnyRef], context: config.ErsContext)
@schemeId = @{request.session.get("screenSchemeInfo").get.split(" - ").head}
@import views.html.templates._
@import utils.PageBuilder._
@import utils.PageBuilder.message
@import utils.ContentUtil._

@scripts = {
	<script src='@routes.AssetsController.at("javascripts/ers_ods_scripts.js")'> </script>
}

@ers_main(title = message("ers.upload_ods_file.page_title"), scripts) {

	@reference()
	<p class="font-xsmall"><a href="@routes.CheckFileTypeController.checkFileTypePage" class="link-back">@Html(message("ers.back"))</a></p>
	@header(message("file_upload.title"))
	<div id="errors" class="validation-summary visibility" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading">
			@Html(message("validation.summary.heading"))
		</h1>
		<ul class="error-summary-list">
			<li class="validation-summary-message"><a href="#fileToUpload" data-focuses="fileToUpload">Choose a different file to upload</a></li>
		</ul>
	</div>
	<label for="fileToUpload" class="visuallyhidden">
		<span>@Html(message("file_upload.title"))</span>
	</label>
	<div id="uploadForm">
		@uploadForm
	</div>
	@spinner()

}