@(groupSchemeType: String)(implicit request: Request[AnyRef], flash: Flash, context: config.ErsContext)
@* type of activity template *@
@schemeId = @{request.session.get("screenSchemeInfo").get.split(" - ").head}
@import views.html.templates._
@import utils.PageBuilder._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@ers_main(title = Messages("ers.app_title")) {

	<p>@Html(request.session.get("screenSchemeInfo").get.drop(3).take(100))</p>

	<p class="font-xsmall"><a href="routes.GroupSchemeController.groupSchemePage(sr)" class="link-back">@Html(Messages("ers.back"))</a></p>
	
	@header(getPageElement(schemeId, PAGE_GROUP_SCHEME_TYPE, "title"))
}
