@(invalidChars: String)(implicit request: Request[AnyRef], flash: Flash, context: config.ErsContext)
@* check return file Template *@
@schemeId = @{request.session.get("screenSchemeInfo").get.split(" - ").head}
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import utils.PageBuilder._
@import views.html.templates._
@scripts = {
	<script src='@routes.AssetsController.at("javascripts/ers_scripts.js")'> </script>
	<script src='@routes.AssetsController.at("javascripts/ers_csv_scripts.js")'> </script>
}

@ers_main(title = Messages("ers.app_title"), scripts) {	

	<p>@Html(request.session.get("screenSchemeInfo").get.drop(3).take(100))</p>

	@header(getPageElement(schemeId, PAGE_GROUP_FILE_CHECK, "title"))
	
	<p class="text">@Html(getPageElement(schemeId, PAGE_GROUP_FILE_CHECK, "intro_para"))</p>
		
	<div id="file-wrapper"></div>
}
