@(groupSchemeType: String)(implicit request: Request[AnyRef], flash: Flash, context: config.ErsContext)
@* type of activity template *@
@schemeId = @{request.session.get("screenSchemeInfo").get.split(" - ").head}
@import views.html.templates._
@import utils.PageBuilder._

@ers_main(title = Messages("ers.app_title")) {

	<p>@Html(request.session.get("screenSchemeInfo").get.drop(3).take(100))</p>

	<p class="font-xsmall"><a href="routes.GroupSchemeController.groupSchemePage(sr)" class="link-back">@Html(Messages("ers.back"))</a></p>
	
	@header(getPageElement(schemeId, PAGE_GROUP_SCHEME_TYPE, "title"))
	
	<!-- div class="clear">
		@*uk.gov.hmrc.play.views.html.helpers.form(action = routes.GroupSchemeController.groupSchemeTypeSelected(scheme, sr)) {
		    <fieldset>
		    	<legend class="text">@Html(getPageElement(scheme, PAGE_GROUP_SCHEME_TYPE, "info"))</legend>
		    	<div class="form-field @if(flash.get("group-scheme-type-not-selected-error").isDefined) {error}">
		    		<label for="file-upload-radio-button" class="block-label @(if(groupSchemeType == OPTION_CSV) "selected")">
		    			<input id="file-upload-radio-button" type="radio" name="groupSchemeType" value=@OPTION_CSV @(if(groupSchemeType == OPTION_CSV) "checked" else "")>
		    			@Html(Messages("ers_group_scheme_type.option_1"))<br>
		    		</label>
		    		<label for="manual-radio-button" class="block-label @(if(groupSchemeType == OPTION_MANUAL) "selected")">
		    			<input id="manual-radio-button" type="radio" name="groupSchemeType" value=@OPTION_MANUAL @(if(groupSchemeType == OPTION_MANUAL) "checked" else "")>
		    			@Html(getPageElement(scheme, PAGE_GROUP_SCHEME_TYPE, "option_2"))<br>
		    		</label>
		    	</div>
		    </fieldset>
		    @*if(flash.get("group-scheme-type-not-selected-error").isDefined) {
			<div aria-labelledby="error-heading" class="validation-message" id="error-summary" role="alert" tabindex="-1">
				@flash.get("group-scheme-type-not-selected-error")
			</div> 
			}
		    <input role="button" id="continue" class="button" type="submit" value="@*Html(Messages("ers.continue"))">
		}*@	
	</div-->		
}
